@page "/create-note"
@using BeleskeBlazor.Shared
@using System.Collections.ObjectModel
@using BeleskeBlazor.Client.Service
@inject DataService DataService

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="container mt-5 text-center">
    <h1>Welcome to your Notes App!</h1>
    <hr>
    <div class="mt-3">
        <form @onsubmit="()=> {}">
            <div class="mb-3">
                <label for="subjectSelect" class="form-label">Subject:</label>
                <select class="form-select" id="subjectSelect" @bind:get="SelectedSubjectId" @bind:set="SubjectInput" >
                    <option selected>Choose...</option>
                    @if(Predmeti != null && Predmeti.Count > 0){
                        @foreach (var subject in Predmeti)
                        {
                            <option value="@subject.IdPredmet">@subject.Naziv</option>
                        }
                    }else{
                            <option value="-1">No subjects available</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="lectureSelect" class="form-label">Lecture:</label>
                <select class="form-select" id="subjectSelect" @bind:get="SelectedLectureId" @bind:set="LectureInput">
                    <option selected>Choose...</option>
                    @if (Casovi != null && Casovi.Count > 0)
                    {
                        @foreach (var subject in Casovi)
                        {
                            <option value="@subject.IdCas">@subject.RedniBroj .</option>
                        }
                    }
                    else
                    {
                        <option value="-1">No lectures available for selected subject</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create Note</button>
        </form>
    </div>
</div>

@code {
    List<PredmetDTO>? Predmeti;
    ObservableCollection<Cas>? Casovi;
    int SelectedSubjectId;
    int SelectedLectureId;

    protected override async Task OnInitializedAsync()
    {
        Casovi = new ObservableCollection<Cas>();
        Predmeti = await DataService.GetMyData();
    }

    private void SubjectInput(int id)
    {
        SelectedSubjectId = id;
        Casovi!.Clear();
        GetLecturesForSubject(id).ForEach(x => Casovi.Add(x));
        SelectedLectureId = -1;
    }

    private void LectureInput(int id)
    {
        SelectedLectureId = id;
    }

    private List<Cas> GetLecturesForSubject(int subjectId)
    {
        return new List<Cas>()
        {
            new Cas()
            {
                 IdCas = 1,
                 RedniBroj = 1
            },
            new Cas()
            {
                 IdCas = 2,
                 RedniBroj = 2
            },
        };
    }
}
